body {
	margin-top: 0;
}

.top-header {
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 16px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

#flag {
	height: 30px;
	width: 30px;
	margin-left: auto;
	margin-right: 10px;
}
.header-text {
	flex-grow: 1;
	text-align: center;
}

.navbar {
	background-color: #fff;
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 20px;
}

.logo {
	font-size: 24px;
	margin-right: 50px;
}

.search-bar {
	flex-grow: 1;
	margin: 0 30px;
}

.search-bar input[type="text"] {
	width: 80%;
	padding: 6px;
	font-size: 14px;
	border: 1px solid #000;
	border-radius: 4px;
}

.nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-list li {
	display: inline-block;
	margin-right: 50px;
	justify-content: space-evenly;
}

.nav-list li a {
	color: black;
	text-decoration: none;
}

.nav-list li a:hover {
	text-decoration: underline;
}

hr {
	border: none;
	border-top: 1px solid gray;
	margin: 10px 0;
}

.options-bar {
	display: flex;
	justify-content: center;
}

.list-container {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-container a {
	text-decoration: none;
	color: #333;
	padding: 10px;
}

.top-banner {
	display: flex;
	align-items: center;
	background-color: #000;
	margin-top: 20px;
}

.image-text {
	margin-left: 100px;
	text-align: center;
	color: #fff;
	font-style: bold;
}
